<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Case store records</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>caseStoreRecordUuid</th>
        <th>caseStoreId</th>
        <th>rinasakId</th>
        <th>fagsakNr</th>
        <th>fagsakTema</th>
        <th>overstyrtEnhetsnummer</th>
        <th>journalpostId</th>
        <th>bucId</th>
        <th>opprettetBruker</th>
        <th>opprettetDato</th>
        <th>syncStatus</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caseStoreRecord:${caseStoreRecords}">
        <td th:text="${caseStoreRecord.caseStoreRecordUuid}"></td>
        <td th:text="${caseStoreRecord.caseStoreId}"></td>
        <td th:text="${caseStoreRecord.rinasakId}"></td>
        <td th:text="${caseStoreRecord.fagsakId}"></td>
        <td th:text="${caseStoreRecord.fagsakTema}"></td>
        <td th:text="${caseStoreRecord.overstyrtEnhetsnummer}"></td>
        <td th:text="${caseStoreRecord.journalpostId}"></td>
        <td th:text="${caseStoreRecord.bucId}"></td>
        <td th:text="${caseStoreRecord.opprettetBruker}"></td>
        <td th:text="${caseStoreRecord.opprettetDato}"></td>
        <td th:text="${caseStoreRecord.syncStatus}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
