<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>City Bike Station Information by Vegard Hillestad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>Rina id</th>
        <th>Fagsak nr</th>
        <th>Fagsak tema</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caseStoreRecord:${caseStoreRecords}">
        <td th:text="${caseStoreRecord.rinasakId}"></td>
        <td th:text="${caseStoreRecord.fagsakNr}"></td>
        <td th:text="${caseStoreRecord.fagsakTema}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>