<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Reset Nav Rinasak stage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Menu</h1>
    <ul>
        <li><a href="/case-store-records">case-store-records</a></li>
        <li><a href="/populate-all-case-store-records">populate-all-case-store-records</a></li>
        <li><a href="/populate-case-store-records">populate-case-store-records</a></li>
        <li><a href="/populate-nav-rinasak">populate-nav-rinasak</a></li>
        <li><a href="/reset-case-store-sync-status">reset-case-store-sync-status</a></li>
        <li><a href="/reset-nav-rinasak">reset-nav-rinasak</a></li>
        <li><a href="/reset-case-store-records">reset-case-store-records</a></li>
        <li><a href="/stats">stats</a></li>
    </ul>
</div>
<div class="container">
    <h1>Reset Nav Rinasak stage</h1>
    <form method="post">
        <button type="submit">Reset Nav Rinasak stage</button>
    </form>
</div>
</body>
</html>
