<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>nav rinasak count</th>
        <th>dokumenter</th>
        <th>initielle fagsaker</th>
        <th>case store record count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${stats.navRinasakCount}"></td>
        <td th:text="${stats.dokumenterCount}"></td>
        <td th:text="${stats.initiellFagsakCount}"></td>
        <td th:text="${stats.caseStoreRecordCount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
