<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <p>Flytt av data</p>
    <ul>
        <li><a href="/populate-all-case-store-records">Stage 1: populate-all-case-store-records</a></li>
        <li><a href="/populate-nav-rinasak">Stage 2: populate-nav-rinasak</a></li>
        <li><a href="/send-to-nav-rinasak">Stage 3: send-to-nav-rinasak</a></li>
    </ul>
    <p>Tilbakestilling</p>
    <ul>
        <li><a href="/reset-case-store-sync-status">Stage 1: reset-case-store-sync-status</a></li>
        <li><a href="/reset-case-store-records">Stage 1: reset-case-store-records</a></li>
        <li><a href="/reset-nav-rinasak">Stage 2: reset-nav-rinasak</a></li>
        <li><a href="/reset-send-to-nav-rinasak">Stage 3: reset-send-to-nav-rinasak</a></li>
    </ul>
    <p>Verktøy</p>
    <ul>
        <li><a href="/case-store-records">case-store-records</a></li>
        <li><a href="/stats">stats</a></li>
        <li><a href="/sandbox">sandbox</a></li>
        <li><a href="/populate-case-store-records">populate-case-store-records (stage 1, delvis)</a></li>
    </ul>
</div>
<div class="container">
    <p>Sync Status</p>
    <table class="container">
        <thead>
        <tr>
            <th>Item</th>
            <th>Count</th>
            <th>Pending</th>
            <th>Synced</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>nav rinasak count</td>
            <td th:text="${stats.navRinasakCount}"></td>
            <td th:text="${stats.navRinasakPendingCount}"></td>
            <td th:text="${stats.navRinasakSyncedCount}"></td>
        </tr>
        <tr>
            <td>dokumenter</td>
            <td th:text="${stats.dokumenterCount}"></td>
            <td th:text="${stats.dokumenterPendingCount}"></td>
            <td th:text="${stats.dokumenterSyncedCount}"></td>
        </tr>
        <tr>
            <td>initielle fagsaker</td>
            <td th:text="${stats.initiellFagsakCount}"></td>
            <td th:text="${stats.initiellFagsakPendingCount}"></td>
            <td th:text="${stats.initiellFagsakSyncedCount}"></td>
        </tr>
        <tr>
            <td>case store record count</td>
            <td th:text="${stats.caseStoreRecordCount}"></td>
            <td th:text="${stats.caseStoreRecordPendingCount}"></td>
            <td th:text="${stats.caseStoreRecordSyncedCount}"></td>
        </tr>
        <tr>
            <td>eux case store record count</td>
            <td th:text="${stats.inEuxCaseStoreCount}"></td>
            <td th:text="${stats.inEuxCaseStorePendingCount}"></td>
            <td th:text="${stats.inEuxCaseStoreSyncedCount}"></td>
        </tr>
        </tbody>
    </table>
    <p>Stats</p>
    <table class="container">
        <thead>
        <tr>
            <th>Item</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>case store record count - rinasak not found</td>
            <td th:text="${stats.caseStoreRecordRinasakNotFoundCount}"></td>
        </tr>
        <tr>
            <td>case store record count - fagsak not found</td>
            <td th:text="${stats.caseStoreRecordFagsakNotFoundCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
